<?xml version='1.0' encoding='utf-8'?>
<widget
        id="referidos.estrategica.com"
        version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        versionCode="10"
>
    <name>Referidos</name>
    <description>
        Gestion de Negocios
    </description>
    <author email="appestrategica@gmail.com" href="www.estrategicacomunicaciones.com">
        Estrategica Comunicaciones
    </author>

</widget>
